nav img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin: 20;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  height: 50px;
  width: auto;
}